* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  height: 65px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #ff9900;
  height: 100%;
  display: grid;
  place-items: center;
}

.logo img {
  width: 3em;
  object-fit: fill;
}

.search-bar {
  display: flex;
  width: 40%;
  border-radius: 0.5em;
  overflow: hidden;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  padding: 0.5em 1.5em;
}

.search-bar input::placeholder {
  color: #232f3e;
}

.search-bar button {
  padding: 8px 15px;
  background-color: #febd69;
  border: none;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.nav-links span {
  display: block;
  font-size: 12px;
}

.nav-links .cart {
  font-size: 1.5em;
  height: 100%;
  display: grid;
  place-items: center;
}

.menu {
  background-color: #232f3e;
  padding: 10px 20px;
}

.menu a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-size: 14px;
  padding: 2px 1em;
}

.menu a:hover {
  border: 1px solid #f6f6f6;
}

#hero-product {
  height: 45vh;
}

#hero-product img {
  height: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  background-color: #e0e0e0;
  padding: 1em;
}

.main-container a{
  padding: 10px;
}

.pro1 {
  display: flex;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  height: max-content;
  min-height: 18em;
  flex-direction: row;
}

h2 {
  margin: 10px;
}

.pro1 img {
  width: 255px;
  height: 12em;
  object-fit: contain;
}

.pro1 p {
  font-weight: 400;
  padding: 5px;
}

.pro1:hover {
  background-color: #d0ddef;
}

.p1 a {
  margin: 10px;
  color: rgb(60, 88, 164);
  padding: 10px;
}

a:hover {
  color: #95afd0;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #eaeaea;
}

.product {
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  border-radius: 0.75em;
  background: linear-gradient(white, rgb(216, 226, 252));
}

.product:hover {
  background: rgb(238, 242, 247);
  transform: translateY(-6px);
  border-bottom: 8px solid white;
}

.product img {
  width: auto;
  height: 150px;
}

.product h3 {
  margin: 10px 0;
  font-weight: 600;
  font-size: 1.05em;
}

.product button {
  background-color: #ffd814;
  border: none;
  padding: 7px 8px;
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  margin-top: 1em;
  font-weight: 700;
}

.product button:hover {
  border: 2px solid #605001;
  color: #605001;
  background: transparent;
}

.product p {
  font-weight: 500;
  color: #232f3e;
  font-size: 0.95em;
}

.backtotop {
  padding: 1em;
  background: #334050;
}

.backtotop a {
  text-decoration: none;
  font-size: 1em;
  color: white;
}

.backtotop:hover {
  background-color: #5a626c;
}

.sign-in {
  text-align: center;
  padding: 1.25em 1em;
  border: 1px solid rgb(168, 168, 179);
  margin: 1em 0;
}

.sign-in button {
  background-color: #ffd814;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 200px;
  border-radius: 1.5em;
  text-align: center;
  font-weight: 600;
  margin: 1em 0;
}

.sign-in button:hover {
  background-color: #e8c100;
}

.sign-in p {
  font-size: small;
}

.sign-in a {
  color: rgb(60, 88, 164);
}

footer {
  background-color: #131921;
  color: white;
  text-align: center;
  padding: 15px;
}

.ending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #232f3e;
}

.end {
  padding: 15px;
  text-align: left;
  border-radius: 4px;
  color: rgb(181, 184, 188);
}

.end h3 {
  color: white;
}

.end p:hover {
  background-color: #232f3e;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.flex-container .pro1 p{
  font-size: medium;
  font-weight: 800;
}
.main-container > div {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  box-sizing: border-box;
}

.flex-container div {
  display: block;
}

